.Navbar_nav__b3Hnv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000000
}

.Navbar_nav__b3Hnv span,.Navbar_nav__b3Hnv ul {
    padding: 10px 20px;
    list-style: none
}

.Navbar_nav__b3Hnv ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.Navbar_nav__b3Hnv span,.Navbar_nav__b3Hnv ul li a {
    color: #fff;
    cursor: pointer
}

.Navbar_nav__b3Hnv ul li {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    margin: 0 15px
}

.Navbar_nav__b3Hnv ul li a {
    text-decoration: none;
    opacity: .9
}

.Navbar_nav__b3Hnv span p {
    font-size: 2.5em;
    font-weight: light;
    margin: 10px 0 0 10px;
    font-family: Grand Hotel
}

.Navbar_hamburger__i8zx1 {
    color: #fff!important;
    font-size: 2em;
    margin-top: 1rem!important;
    margin-right: 1rem;
    background: transparent!important;
    border: none;
    display: none
}

@media screen and (max-width: 768px) {
    .Navbar_hamburger__i8zx1 {
        position:absolute;
        top: .8rem!important;
        right: 1%!important;
        display: block!important
    }

    .Navbar_nav__b3Hnv ul {
        min-width: 60%;
        position: absolute;
        top: 60px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        flex-direction: column;
        justify-content: space-evenly;
        transition: .5s;
        text-align: left;
        font-size: 1.3em;
        padding-bottom: 50%;
        background: hsla(0,0%,100%,.8);
        box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px)
    }

    .Navbar_nav__b3Hnv ul li {
        margin-bottom: 1rem;
        text-align: left;
        width: 100%
    }

    .Navbar_nav__b3Hnv ul li a {
        width: 100%;
        color: #000;
        transition: .1s;
        -webkit-padding-end: 36%;
        padding-inline-end:36%}

    .Navbar_nav__b3Hnv ul li a i {
        min-width: 24px
    }
}

.Profile_profile___IC9d {
    display: flex;
    flex-direction: row;
    margin-top: 5rem
}

.Profile_profileImage__XFaKR {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-left: 100px;
    padding-top: 30px;
    margin-right: -9%;
    z-index: 2
}

.Profile_profileImage__XFaKR img {
    width: 80%;
    height: 70%
}

.Profile_profileText__KBOJF {
    height: 500px;
    width: 100%;
    background-color: #ffffff36;
    padding: 8% 10px 10px 6%;
    margin-top: -100px
}

.Profile_profileText__KBOJF h1,.Profile_profileText__KBOJF h2 {
    color: #fff;
    -webkit-animation: Profile_profile-text-animation__BHex7 .7s ease-in;
    animation: Profile_profile-text-animation__BHex7 .7s ease-in
}

.Profile_profileText__KBOJF h1 {
    font-size: 4em
}

.Profile_profileText__KBOJF h2 {
    font-size: 2.4em
}

.Profile_profileText__KBOJF p {
    margin: 1.5rem 0;
    color: #fff;
    width: 70%
}

.Profile_a__uXPhi {
    background-color: transparent;
    outline: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.1em;
    padding: 9px 13px;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
    margin-top: 5rem
}

.Profile_a__uXPhi:hover {
    background-color: #fff;
    color: #353434
}

@-webkit-keyframes Profile_profile-text-animation__BHex7 {
    0% {
        padding-top: 150px;
        opacity: 0
    }

    to {
        padding-top: 0;
        opacity: 1
    }
}

@keyframes Profile_profile-text-animation__BHex7 {
    0% {
        padding-top: 150px;
        opacity: 0
    }

    to {
        padding-top: 0;
        opacity: 1
    }
}

@media screen and (max-width: 768px) {
    .Profile_profile___IC9d {
        flex-direction:column;
        align-items: center
    }
}

@media screen and (max-width: 520px) {
    .Profile_profileText__KBOJF {
        height:400px;
        padding-top: 100px
    }

    .Profile_profileText__KBOJF h1 {
        font-size: 3em
    }

    .Profile_profileText__KBOJF h2 {
        font-size: 1.8em;
        min-height: 120px;
        -webkit-margin-after: 2rem!important;
        margin-block-end:2rem!important}

    .Profile_profileImage__XFaKR {
        width: 85%;
        height: 50%
    }

    .Profile_profileImage__XFaKR img {
        width: 100%!important;
        height: 100%!important
    }
}

.About_about__rgaWE h1,.About_about__rgaWE p {
    color: #fff;
    padding: 3rem 3rem 0
}

.About_about__rgaWE p {
    font-size: 1.1em
}

.About_about__rgaWE p a {
    color: #b1b1b1
}

.About_about_section__PHJMI {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.About_about_section__PHJMI div,.About_about_section__PHJMI p {
    width: 80%;
    text-align: left;
    margin-right: auto
}

@media screen and (max-width: 768px) {
    .About_about__rgaWE {
        padding:2rem 1rem 1rem
    }

    .About_about__rgaWE h1 {
        padding: 0
    }

    .About_about__rgaWE p {
        padding: 0;
        font-size: 1.1em
    }

    .About_about_section__PHJMI {
        flex-direction: column
    }

    .About_about_section__PHJMI p {
        width: 100%
    }
}

.Skills_skills__CgpW1 {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 5rem;
    padding: 2rem 3rem 1rem
}

.Skills_skillset_content__bCtBb {
    display: flex;
    flex-direction: column;
    text-align: left
}

.Skills_skillset_content__bCtBb h1,.Skills_skillset_content__bCtBb p {
    color: #fff;
    -webkit-margin-before: 0!important;
    margin-block-start:0!important;-webkit-margin-after: 0!important;
    margin-block-end:0!important}

.Skills_skill_icons_section__dxCiq {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px
}

.Skills_skill_icons_section__dxCiq svg,.Skills_skill_item_custom_svg__IQl_v {
    width: 55px;
    margin: 15px;
    height: auto;
    cursor: pointer;
    transition: .2s
}

.Skills_skill_item__rN33R {
    transition: .3s
}

.Skills_skill_description__dxgef,.Skills_skill_item__rN33R {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
}

.Skills_skill_description__dxgef {
    position: absolute;
    color: #000;
    opacity: 0;
    z-index: 10000000000;
    cursor: pointer;
    transition: .2s;
    margin-top: 100px;
    font-size: .9em;
    background-color: #92f3f6;
    padding: 5px 15px;
    border-radius: 6px;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    box-shadow: 0 0 10px rgba(0,0,0,.781)
}

.Skills_skill_description__dxgef>* {
    -webkit-margin-before: 0;
    margin-block-start:0;-webkit-margin-after: 0;
    margin-block-end:0}

.Skills_skill_description__dxgef p {
    font-size: .8em
}

.Skills_skill_item__rN33R:hover {
    transform: scale(1.1)
}

.Skills_skill_item__rN33R:hover .Skills_skill_description__dxgef {
    opacity: 1
}

@media screen and (max-width: 768px) {
    .Skills_skills__CgpW1 {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem
    }

    .Skills_skill_icons_section__dxCiq {
        padding: 5px
    }

    .Skills_skill_icons_section__dxCiq svg {
        margin: 10px
    }
}

.vertical-timeline * {
    box-sizing: border-box
}

.vertical-timeline {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 2em 0
}

.vertical-timeline:after {
    content: "";
    display: table;
    clear: both
}

.vertical-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: var(--line-color)
}

.vertical-timeline.vertical-timeline--one-column-right:before {
    right: 18px;
    left: unset
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline.vertical-timeline--two-columns {
        width:90%
    }

    .vertical-timeline.vertical-timeline--two-columns:before {
        left: 50%;
        margin-left: -2px
    }
}

.vertical-timeline-element {
    position: relative;
    margin: 2em 0
}

.vertical-timeline-element>div {
    min-height: 1px
}

.vertical-timeline-element:after {
    content: "";
    display: table;
    clear: both
}

.vertical-timeline-element:first-child {
    margin-top: 0
}

.vertical-timeline-element:last-child {
    margin-bottom: 0
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element {
        margin:4em 0
    }

    .vertical-timeline-element:first-child {
        margin-top: 0
    }

    .vertical-timeline-element:last-child {
        margin-bottom: 0
    }
}

.vertical-timeline-element-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff,inset 0 2px 0 rgba(0,0,0,.08),0 3px 0 4px rgba(0,0,0,.05)
}

.vertical-timeline--one-column-right .vertical-timeline-element-icon {
    right: 0;
    left: unset
}

.vertical-timeline-element-icon svg {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-icon {
        width:60px;
        height: 60px;
        left: 50%;
        margin-left: -30px
    }
}

.vertical-timeline-element-icon {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden
}

.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
    visibility: hidden
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 .6s;
    animation: cd-bounce-1 .6s
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        transform: scale(.5)
    }

    60% {
        opacity: 1;
        transform: scale(1.2)
    }

    to {
        transform: scale(1)
    }
}

.vertical-timeline-element-content {
    position: relative;
    margin-left: 60px;
    background: #fff;
    border-radius: .25em;
    padding: 1em;
    box-shadow: 0 3px 0 #ddd
}

.vertical-timeline--one-column-right .vertical-timeline-element-content {
    margin-right: 60px;
    margin-left: unset
}

.vertical-timeline-element--no-children .vertical-timeline-element-content {
    background: 0 0;
    box-shadow: none
}

.vertical-timeline-element-content:after {
    content: "";
    display: table;
    clear: both
}

.vertical-timeline-element-content h2 {
    color: #303e49
}

.vertical-timeline-element-content .vertical-timeline-element-date,.vertical-timeline-element-content p {
    font-size: 13px;
    font-size: .8125rem;
    font-weight: 500
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    display: inline-block
}

.vertical-timeline-element-content p {
    margin: 1em 0 0;
    line-height: 1.6
}

.vertical-timeline-element-subtitle,.vertical-timeline-element-title {
    margin: 0
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    float: left;
    padding: .8em 0;
    opacity: .7
}

.vertical-timeline-element-content-arrow {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right-color: #fff
}

.vertical-timeline--one-column-right .vertical-timeline-element-content-arrow {
    content: "";
    position: absolute;
    top: 16px;
    right: unset;
    left: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-left-color: #fff
}

.vertical-timeline--one-column-right .vertical-timeline-element-content:before {
    left: 100%;
    border-left: 7px solid #fff;
    border-right: unset
}

.vertical-timeline-element--no-children .vertical-timeline-element-content-arrow,.vertical-timeline-element--no-children .vertical-timeline-element-content:before {
    display: none
}

@media only screen and (min-width: 768px) {
    .vertical-timeline-element-content h2 {
        font-size:20px;
        font-size: 1.25rem
    }

    .vertical-timeline-element-content p {
        font-size: 16px;
        font-size: 1rem
    }

    .vertical-timeline-element-content .vertical-timeline-element-date {
        font-size: 14px;
        font-size: .875rem
    }
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-content {
        margin-left:0;
        padding: 1.5em;
        width: 44%
    }

    .vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
        top: 24px;
        left: 100%;
        transform: rotate(180deg)
    }

    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
        position: absolute;
        width: 100%;
        left: 124%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem
    }

    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(2n):not(.vertical-timeline-element--left) .vertical-timeline-element-content {
        float: right
    }

    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content-arrow,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(2n):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow {
        top: 24px;
        left: auto;
        right: 100%;
        transform: rotate(0)
    }

    .vertical-timeline--one-column-right .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content-arrow,.vertical-timeline--one-column-right .vertical-timeline-element:nth-child(2n):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow {
        top: 24px;
        left: 100%;
        right: auto;
        transform: rotate(0)
    }

    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(2n):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
        left: auto;
        right: 124%;
        text-align: right
    }
}

.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
    visibility: hidden
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 .6s;
    animation: cd-bounce-2 .6s
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content.bounce-in,.vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element:nth-child(2n):not(.vertical-timeline-element--left) .vertical-timeline-element-content.bounce-in {
        -webkit-animation:cd-bounce-2-inverse .6s;
        animation: cd-bounce-2-inverse .6s
    }
}

@media only screen and (max-width: 1169px) {
    .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
        visibility:visible;
        -webkit-animation: cd-bounce-2-inverse .6s;
        animation: cd-bounce-2-inverse .6s
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px)
    }

    to {
        -webkit-transform: translateX(0)
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    60% {
        opacity: 1;
        transform: translateX(20px)
    }

    to {
        transform: translateX(0)
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px)
    }

    to {
        -webkit-transform: translateX(0)
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    60% {
        opacity: 1;
        transform: translateX(-20px)
    }

    to {
        transform: translateX(0)
    }
}

.Experience_experience__HMDot {
    color: #fff;
    padding: 3rem
}

.Experience_experience_cards_section__2iGwa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem
}

.Experience_experienceCard__L1vfW {
    width: 400px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid #afafaf;
    background-color: #fff;
    margin-bottom: 20px
}

.Experience_cover_section__yNbe6 {
    height: 100px;
    text-align: center;
    align-items: center;
    padding-top: 1rem
}

.Experience_information_section__uZtS5 {
    padding-top: 5rem;
    height: 250px;
    background-color: transparent;
    color: #000;
    z-index: -1;
    text-align: center
}

.Experience_cover_section__yNbe6 h3 {
    margin-bottom: .6rem;
    font-size: 1.4em
}

.Experience_company_logo__UAzD9 {
    height: 105px;
    width: 105px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    z-index: 10;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #0000003a
}

.Experience_card_number__a4S_S {
    font-size: 5em
}

.Experience_activities__XLK44 {
    -webkit-margin-before: 1rem;
    margin-block-start:1rem}

.Experience_duration__4zai_ {
    -webkit-margin-before: .1rem!important;
    margin-block-start:.1rem!important;opacity: .7
}

.Experience_rounded__eLRXM {
    border-radius: 50%
}

@media screen and (max-width: 768px) {
    .Experience_experience__HMDot {
        padding:1rem
    }
}

.Projects_projects__XVqR8 {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem 0
}

.Projects_projects__XVqR8 h1,.Projects_projects__XVqR8 h4,.Projects_projects__XVqR8 p {
    color: #fff
}

.Projects_projects_section__g4ve3 {
    flex-direction: column;
    padding: 2rem 0
}

.Projects_card__xMaYd,.Projects_projects_section__g4ve3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.Projects_card__xMaYd {
    width: 100%;
    min-height: var(--project-card-height);
    margin: 1rem 0;
    padding: 5px 10px;
    background: hsla(0,0%,100%,.35);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px)
}

.Projects_card__xMaYd h2 {
    color: #fff
}

.Projects_left__icVY6 {
    width: 50%;
    height: var(--project-card-height);
    flex-direction: column;
    padding: 10px;
    text-align: center
}

.Projects_button_section__YH8wN,.Projects_left__icVY6 {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.Projects_button_section__YH8wN {
    width: 100%;
    flex-direction: row
}

.Projects_button_section__YH8wN a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.05em;
    min-width: 150px;
    transition: .2s
}

.Projects_button_section__YH8wN a:first-child {
    color: #fff;
    background-color: transparent;
    border: 1px solid grey
}

.Projects_button_section__YH8wN a:first-child:hover {
    color: #fff;
    background-color: grey;
    border: 1px solid grey
}

.Projects_button_section__YH8wN a:last-child {
    color: #000;
    background-color: #fff;
    border: 1px solid grey
}

.Projects_button_section__YH8wN a:last-child:hover {
    color: #fff;
    background-color: grey;
    border: 1px solid grey
}

.Projects_right__kgT4x {
    width: 50%;
    height: 100%
}

.Projects_right__kgT4x img {
    width: 100%;
    height: 100%;
    margin-bottom: -5px!important
}

.Projects_more_button_container__Gs6Eh {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center
}

.Projects_more_button__jo998 {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.05em;
    min-width: 150px;
    margin: auto;
    color: #fff;
    border: 1px solid #fff;
    transition: .2s
}

.Projects_more_button__jo998:hover {
    background-color: #fff;
    color: #160000
}

@media screen and (max-width: 768px) {
    .Projects_projects__XVqR8 {
        padding:1rem
    }

    .Projects_card__xMaYd {
        flex-direction: column-reverse!important
    }

    .Projects_left__icVY6,.Projects_right__kgT4x {
        width: 100%;
        align-items: center;
        text-align: center!important
    }
}

@media screen and (max-width: 520px) {
    .Projects_button_section__YH8wN a {
        min-width:120px;
        font-size: .9em
    }
}

.Blogs_blogs__9tTEb {
    width: 100%;
    margin: 5rem 0;
    padding: 2rem 4rem 0
}

.Blogs_blogs__9tTEb h1,.Blogs_blogs__9tTEb h2,.Blogs_blogs__9tTEb h3,.Blogs_blogs__9tTEb p {
    color: #fff
}

.Blogs_blogs_section__jYS6N {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    flex-wrap: wrap
}

.Blogs_image_container__R4M22 {
    width: 400px;
    height: 300px;
    background-size: cover
}

.Blogs_text_container__wtUeK {
    background-color: #fff;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5rem 1rem
}

.Blogs_text_container__wtUeK h3,.Blogs_text_container__wtUeK p {
    color: #000!important
}

.Blogs_text_container__wtUeK p {
    opacity: .8
}

@media screen and (max-width: 768px) {
    .Blogs_blogs__9tTEb {
        padding:1rem
    }

    .Blogs_card__ZSsZy {
        margin: 5px 0
    }
}

@media screen and (max-width: 520px) {
    .Blogs_card__ZSsZy {
        width:95vw
    }

    .Blogs_image_container__R4M22 {
        width: 100%;
        height: 200px
    }
}

.Contact_contact__A7yeZ {
    width: 100%;
    margin: 3rem 0;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}

.Contact_left___I7W6 {
    width: 50%;
    text-align: left;
    color: #fff
}

.Contact_right__IMlfD {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
}

.Contact_right__IMlfD span {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px auto
}

.Contact_right__IMlfD span label {
    color: #fff;
    font-weight: 700;
    font-size: 1.2em
}

.Contact_right__IMlfD span input,.Contact_right__IMlfD span textarea {
    width: 100%;
    padding: 5px;
    background: transparent;
    outline: none;
    border: 1px solid #bdb9b9;
    color: #fff;
    font-size: 1.05em;
    font-family: Segoe UI,Tahoma,Geneva,Verdana,sans-serif
}

.Contact_submit__M6RFg {
    text-decoration: none;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid #c2bfbf;
    color: #fff;
    transition: .3s
}

.Contact_submit__M6RFg:hover {
    background-color: #fff!important;
    color: #000
}

.Contact_links__lqyET {
    margin-top: 2rem
}

@media screen and (max-width: 768px) {
    .Contact_contact__A7yeZ {
        width:100%;
        padding: 1rem;
        display: flex;
        flex-direction: column
    }

    .Contact_contact__A7yeZ div {
        width: 100%
    }

    .Contact_right__IMlfD {
        margin-top: 1rem
    }

    .Contact_right__IMlfD span {
        width: 100%
    }
}

.Patreon_patreon__w3OFV {
    background: #ff424d;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 13px;
    padding: 7px 12px;
    transition: .2s;
    font-family: Poppins;
    z-index: 1000000
}

.Patreon_patreon__w3OFV:hover {
    transform: scale(1.05);
    border: 1px solid #fff;
    font-weight: 700
}

.Patreon_patreon__w3OFV svg {
    vertical-align: middle;
    margin-right: 5px
}

.Loader_loader__dLubz {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000
}

.Loader_loader__dLubz img {
    margin: auto
}
